@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spline+Sans:wght@300..700&display=swap");

/*
FONT: Montserrat (Headiline), Spline Sans (Body)
*/
html {
  scroll-behavior: smooth; /* Scorrimento fluido */
}

/* Webkit scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Larghezza */
}

::-webkit-scrollbar-track {
  background: #f0f4f8; /* Sfondo */
  border-radius: 4px; /* Arrotondamento */
}

::-webkit-scrollbar-thumb {
  background-color: #bfdbfe; /* Colore barra */
  border-radius: 4px; /* Arrotondamento */
  border: 2px solid #f0f4f8; /* Bordo esterno */
}

/* Firefox scrollbar styling */
scrollbar-width: thin; /* Larghezza sottile */
scrollbar-color: #bfdbfe #f0f4f8; /* Colore barra e sfondo */

/* Nascondi barra su mobile (opzionale) */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    scrollbar-width: none;
  }
}

.container-main {
  padding: 16px;
}

.swiper {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
